run = "vite"
entrypoint = "src/App.vue"

hidden = [".config", "tsconfig.json", "tsconfig.node.json", "vite.config.js", ".gitignore"]

[nix]
channel = "stable-22_11"

[env]
PATH = "$REPL_HOME/.config/npm/node_global/bin:$REPL_HOME/node_modules/.bin"
XDG_CONFIG_HOME = "/home/runner/.config"
npm_config_prefix = "$REPL_HOME/.config/npm/node_global"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[packager]
language = "nodejs"

  [packager.features]
  packageSearch = true
  guessImports = true
  enabledForHosting = false

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[deployment]
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "npm run preview"]
ignorePorts = false
deploymentTarget = "gce"

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 9005
externalPort = 3000

[[ports]]
localPort = 9006
externalPort = 3001

[[ports]]
localPort = 9007
externalPort = 3002

[[ports]]
localPort = 9008
externalPort = 3003

[[ports]]
localPort = 9009
externalPort = 4200

[[ports]]
localPort = 9010
externalPort = 5000

[[ports]]
localPort = 9011
externalPort = 5173
